#toDo-container {
  grid-area: toDo;

  display: flex;
  flex-direction: column;

  list-style-type: none;
  gap: 5px;

  h2 {
    @include textCenter();

    padding: 0;
    margin: 0;
    margin-bottom: 10px;

    color: #babab9;
  }
}

.toDo-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 5px;

  font-weight: 800;

  width: 100%;
}

.task {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 90%;

  padding: 10px;
  border-radius: 1000px;
  background-color: #5aacc4;

  min-height: 20px;
  overflow-x: auto;

  transition: all 0.3s ease-in-out;

  &:hover {
    cursor: pointer;
    background-color: rgb(160, 25, 25);
    color: whitesmoke;
  }
}

#set-task {
  height: 90px;

  input {
    background-color: whitesmoke;
    height: 30px;
    padding-left: 8px;
    font-size: 1rem;
    border: 0;
    border-radius: 1000px;

    &:focus {
      outline: none;
    }
  }

  button {
    width: 100px;
    height: 30px;
    align-self: center;

    color: black;
    font-size: 1rem;
    background-color: rgb(51, 153, 78);

    border-radius: 500px;

    &:hover {
      cursor: pointer;
    }
  }
}

#pending-task {
  height: 30vh;
  min-height: 10vh;
  overflow-y: auto;
}

#completed-task {
  height: 30vh;
  min-height: 20vh;
  overflow-y: auto;
}

.completed {
  background-color: rgb(160, 25, 25);
  color: #babab9;
}

.delete {
  font-size: 1rem;
  font-weight: 800;
}
