@import "./music-section";
@import "./toDo-section";

@font-face {
  font-family: sevenSegment;
  src: url(../assets/14\ Segment\ LED\ Regular.ttf);
}
@import url("https://fonts.cdnfonts.com/css/alarm-clock");

@mixin horizontalCenter() {
  margin-left: auto;
  margin-right: auto;
}

@mixin textCenter() {
  align-self: center;
  text-align: center;
}

img {
  height: 110px;
  width: auto;

  position: fixed;

  &#alarmIcon {
    left: 47vw;
    top: 33px;
  }
}

body {
  display: grid;
  grid-template-areas:
    "header header header"
    "toDo   main   music";
  grid-template-rows: 20% 80%;
  grid-template-columns: 15% 70% 15%;

  background-color: #222;
  font-family: "Courier New", Courier, monospace;
}

#clock {
  @include horizontalCenter();
  @include textCenter();

  position: absolute;
  top: 50px;
  right: 7vw;
  font-size: 2rem;
  color: #babab9;
}

#main-title {
  @include horizontalCenter();
  @include textCenter();
  font-weight: 600;
  color: #babab9;
  font-size: 4.3rem;

  margin: 1vh auto;

  grid-area: header;
}

#container {
  @include horizontalCenter();
  @include textCenter();

  font-weight: 600;
  font-size: 3rem;
  color: #babab9;

  grid-area: main;

  #date {
    margin: 5vh auto;
  }

  &:hover {
    cursor: default;
  }

  #count-down {
    @include horizontalCenter();
    color: black;
    width: auto;
    margin: 5vh auto;
    font-size: 10rem;
    font-weight: 400;
    font-family: "alarm clock", sevenSegment;
    background-color: rgb(51, 153, 78);
    border-radius: 50px 10px;
  }
}

#set-count-down {
  input {
    @include textCenter();
    height: 50px;
    width: 50px;
    font-size: 2rem;
    background-color: inherit;
    color: inherit;
    border: #234 2px solid;
  }

  label {
    cursor: pointer;
  }

  button {
    background-color: rgb(51, 153, 78);
    border-color: #234;
    font-size: 2rem;
    height: 50px;
    width: 180px;
    cursor: pointer;
  }
}
